doctype 5
html(class='isList')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content= description)
        title= title
        link(rel='stylesheet', href='/font/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/xpressio.css')
    body.bck.b_jet_light.flex
        if session.username
            block content
        else
            section.site_width.f12.padding_big
                if session.msg == 'Incorrect username or password'
                    div.bck.b_red_light.text.center.padding_small.margin_bottom_small
                        | #{session.msg}
                if session.msg == 'Complete registration'
                    div.bck.b_green_light.text.center.padding_small.margin_bottom_small
                        | #{session.msg}
                form(action= config.url.admin.index, method='post')
                    input(id='user', name='user', placeholder='Usuario', class='anchor margin_bottom_small', required)
                    input(type='password', name='pass', placeholder='Password', class='anchor margin_bottom_small', required)
                    input(type='submit', value='Enviar', class='btn normal bck b_jet text color c_white anchor margin_bottom_small')
                div
                    div.margin_bottom_small.text.center
                        strong.text.underline Demo user
                        div 
                            strong User: 
                            span postit
                        div
                            strong Pass: 
                            span demo
                        div.margin_top_medium
                            h3 New admin panel is made with Flexbox.
                            h3 Please use Chrome for a better experience.