extends header

block content
    if session.username
        section.f12.flex.column
            include navigation
            div.flex.f1.y_center
                h1.text.center Welcome to post
                    span.text.bold it