extends header

block content
    section(id='sidebar', class='f4 flex column bck b_white')
        header(id='notifications', class='border solid bottom_medium text center padding_small') 
            strong Notifications
    section(id='container', class='f12 column scroll') 
        div(class='flex f1 y_center x_center')
            h2 Welcome to postit!