header(class='bck b_white border solid bottom_medium padding_small')
    div(data-label='logs')
        div.text.center.bold postit
    div.mobile.text.center
        a(href= config.url.admin.users, class='btn normal bck b_jet text color c_white margin_small border rad_small') Users
        a(href= config.url.admin.posts, class='btn normal bck b_jet text color c_white margin_small border rad_small') Posts
        a(href= config.url.admin.categories, class='btn normal bck b_jet text color c_white margin_small border rad_small') Categories
        div
            a(href='/logout', class='btn normal bck b_red text color c_white margin_small border rad_small')
                i.icon-signout
