extends header

block content
    section(id='list', class='f4 flex column bck b_royalblue_dark')
        include logs
        section(data-role='addUser', class='bck b_white text center bold padding_small pointer') Add new user +
        section(class='bck b_royalblue_dark text color c_white pointer scroll')
            for user in users
                div(id= user._id, data-label='userSelect', class='padding_medium border solid bottom_small')
                    h5.text.bold.color.c_jet_light #{user.username}
                    span.text.color.c_jet_medium #{user.fullName} @ #{user.email}
    section(id='content', class='f12 flex column bck b_jet_light')
        include navigation
        div(id='back', class='bck b_royalblue_dark pointer text center color c_white padding_small anchor mobile')
            span.text.center
                i.icon-backward
                |  Back
        section(class='padding_big scroll')
            div(data-userid='userid', data-label='user', class='hide_display bck b_white padding_medium')
                label Username
                input(name='username', class='anchor margin_bottom_small', value= '', disabled)
                label Full Name
                input(name='fullName', class='anchor margin_bottom_small', value= '')
                label Email
                input(name='email', class='anchor margin_bottom_small', value= '')
                label Account state
                input(name='accountState', class='anchor margin_bottom_small', value= '')
                label Register date
                input(name='registerDate', class='anchor margin_bottom_small', value= '', disabled)
                label Role
                input(name='role', class='anchor margin_bottom_small', value= '')
                div.margin_top_medium
                    button(data-role='updateUser', class='btn bck b_green text color c_white padding_small margin_right_small')
                        i.icon-save
                        |  Update
                    button(data-role='removeUser', class='btn bck b_red text color c_white padding_small')
                        .icon-remove-sign
                        |  Remove user
            div(data-label='userForm', class='hide_display bck b_white padding_medium')
                form(action= config.url.create.user, method='post')
                    input(type='text', id='username', name='username', placeholder='Username', class='anchor margin_bottom_small', required)
                    input(type='text', id='fullName', name='fullName', placeholder='Full name', class='anchor margin_bottom_small', required)
                    input(type='email', id='email', name='email', placeholder='Email adress', class='anchor margin_bottom_small', required)
                    select(name='group', class='anchor margin_bottom_small')
                        option(value="admin") admin
                        option(value="user") user
                    input(type='password', id='pass', name='pass', placeholder='Password', class='anchor margin_bottom_small', required)
                    input(type='password', id='confirmPass', name='confirmPass', placeholder='Repeat password', class='anchor margin_bottom_small', required)
                    input(type='submit', id="send", value='Enviar', class='btn normal bck b_jet text color c_white anchor')
    include footer