doctype 5
html
    head
        title= data.title
        link(rel='stylesheet', href='/font/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/xpressio.css')

        meta(name="description", content= data.description)

        if env == "dev"
            script(src='/javascripts/vendors/jquery.js')
            script(src='/javascripts/vendors/underscore.js')
            script(src='/javascripts/vendors/backbone.js')
            script(src='/javascripts/vendors/backbone.marionette.js')
            script(src='/javascripts/vendors/socket.io.js')
            script(src='/javascripts/vendors/jquery.timeago.js')
            script(src='/javascripts/vendors/q.js')

            script(src='/javascripts/init.js')
            
            script(src='/javascripts/app/client/models/article.js')

            script(src='/javascripts/app/client/collections/articles.js')

            script(src='/javascripts/app/client/routers/router.js')

            script(src='/javascripts/app/client/views/article.js')
            script(src='/javascripts/app/client/views/articles.js')
            script(src='/javascripts/app/client/views/sidebar.js')
            
            script(src='/javascripts/app/client/client.js')
    body
        block content
        include footer