extends header

block content
    header(class='row bck b_turquoise text color c_white b_shadow_small')
        section.site_width.text.color.c_white
            div.col6
                strong #{config.blogName} 
                |
                span  #{config.blogDescription}
            if user
                div.col6.text.right
                    span.padding_right_medium #{user.fullName}
                    img(src= user.image, class='b_shadow_small top')
            else
                div.col6.text.right
                    a(href='/auth/twitter', class='text color c_blue_light bold') Sign in with Twitter
    section(id='container', class='row site_width padding_top_big')
        section(id='articles', class='col8 padding_small')
        section(id='sidebar', class='col4 padding_small')