<div class="bck b_white margin_big padding_big">
    <div class="margin_bottom_medium">
        <span data-label="category" class="text bold border solid bottom_small" contenteditable="true">Category</span> // <span data-label="tags" class="border solid bottom_small" contenteditable="true">Tags</span>
    </div>
    <h2 data-label="title" class="text bold border solid bottom_small" contenteditable="plaintext-only">Title...</h2>
    <div data-label="slug" class="text color c_jet_medium margin_bottom_big" contenteditable="plaintext-only">slug</div>

    <div data-label="content" class="border margin_bottom_big" contenteditable="plaintext-only">Your article here!</div>

    <button class="btn padding_small bck b_green text color c_white">Update</button>
</div>