<header id="notifications" class="border solid bottom_medium text center padding_medium anchor">
    <strong>Notifications</strong>
</header>

<section id="menu" class="flex text center color c_white anchor">
    <div data-link="articles" class="f1 bck b_royalblue padding_medium border solid bottom_small pointer">Articles</div>
    <div data-link="users" class="f1 bck b_pink padding_medium border solid bottom_small pointer">Users</div>
</section>

<section data-link="newArticle"></section>

<section id="list" class="scroll"></section>