<div class="bck b_white margin_big padding_big">
    <input id="username" name="username" class="anchor" value="<%= model.username %>"></input>
    <input id="fullName" name="fullName" class="anchor" value="<%= model.fullName %>"></input>
    <input id="registerDate" name="registerDate" class="anchor" value="<%= model.registerDate %>"></input>
    <input id="accountState" name="accountState" class="anchor" value="<%= model.accountState %>"></input>
    <input id="provider" name="provider" class="anchor" value="<%= model.provider %>"></input>

    <button>Send</button>
</div>