<div class="bck b_white margin_big padding_big">
    <input id="username" name="username" class="margin_bottom_small anchor" value="<%= model.username %>"></input>
    <input id="fullName" name="fullName" class="margin_bottom_small anchor" value="<%= model.fullName %>"></input>
    <input id="registerDate" name="registerDate" class="margin_bottom_small anchor" value="<%= model.registerDate %>"></input>
    <input id="accountState" name="accountState" class="margin_bottom_small anchor" value="<%= model.accountState %>"></input>
    <input id="provider" name="provider" class="margin_bottom_big anchor" value="<%= model.provider %>"></input>

    <button class="btn padding_small bck b_green text color c_white">Update</button>
    <button class="btn padding_small bck b_red text color c_white">Delete</button>
</div>