<div class="bck b_white margin_big padding_big">
    <input id="username" name="username" class="margin_bottom_small anchor" value="<%= model.username %>" disabled></input>
    <input id="fullName" name="fullName" class="margin_bottom_small anchor" value="<%= model.fullName %>" disabled></input>
    <input id="registerDate" name="registerDate" class="margin_bottom_small anchor" value="<%= model.registerDate %>" disabled></input>
    <input id="accountState" name="accountState" class="margin_bottom_small anchor" value="<%= model.accountState %>" disabled></input>
    <input id="provider" name="provider" class="margin_bottom_big anchor" value="<%= model.provider %>" disabled></input>

    <button data-role="delete" class="btn padding_small bck b_red text color c_white">Delete</button>
</div>