doctype 5
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content= description)
		title= title
		link(rel='stylesheet', href='/font/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/xpressio.theme.css')
	body
		header.border_bottom.bck.b_jet_dark.text.color.c_white
			div.site_width.row
				div.col8
					a(href='/', class='text bold') #{config.blogName} 
					| | #{config.blogDescription}
				div.col4.text.right
					a(href='', class='btn normal margin_small bck b_blue text color c_white icon-cloud-download')  Download
					a(href='', class='btn normal margin_small bck b_blue text color c_white icon-github-alt')  View on Github
		block content