doctype 5
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content= description)
        title= title
        link(rel='stylesheet', href='/font/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/xpressio.css')
    body
        header.bck.b_jet_dark.text.color.c_white
            div.site_width
                div.table.row
                    div.vertical_align
                        nav
                            a(href= config.url.blogHome, class='text bold color c_blue_medium') #{config.blogName} 
                            | | #{config.blogDescription}
                    div.desktop.vertical_align.text.right
                        nav
                            ul
                                li(class='inline')
                                    a(href='https://github.com/dreyacosta/postit/archive/master.zip', class='btn normal bck b_royalblue text color c_white') 
                                        i.icon-cloud-download 
                                            | Download
                                li(class='inline')
                                    a(href='https://github.com/dreyacosta/postit', class='btn normal bck b_royalblue text color c_white')
                                        i.icon-github-alt 
                                            | View on Github
        block content