doctype 5
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content= description)
		title= title
		link(rel='stylesheet', href='/font/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/xpressio.theme.css')
	body
		header.border_bottom.bck.b_jet_dark.text.color.c_white
			div.site_width.row
				div.col7
					nav
						a(href= config.url.blogHome, class='text bold color c_blue_medium') #{config.blogName} 
						| | #{config.blogDescription}
				div.col5.text.right
					nav
						ul
							li(class='btn normal margin_small bck b_blue inline')
								i.icon-cloud-download 
								a(href='#', class='text thin color c_white') Download
							li(class='btn normal margin_small bck b_blue inline')
								i.icon-github-alt 
								a(href='#', class='text thin color c_white') View on Github
		block content