extends header

block content
	section.site_width.padding_big
		h1.text.center.margin_bottom_big Register user

		if session.msg == 'El usuario ya existe'
			div.bck.b_red_light.text.center.padding_small.margin_bottom_small #{session.msg}

		if session.msg == 'Registro completado con éxito'
			div.bck.b_green_light.text.center.padding_small.margin_bottom_small #{session.msg}

		section
			form(action= config.url.create.user, method='post')
				input(type='text', id='username', name='username', placeholder='Username', class='anchor margin_bottom_small', required)
				input(type='text', id='fullName', name='fullName', placeholder='Full name', class='anchor margin_bottom_small', required)
				input(type='email', id='email', name='email', placeholder='Email adress', class='anchor margin_bottom_small', required)
				select(name='group', class='anchor margin_bottom_small')
					option(value="admin") admin
					option(value="user") user
				input(type='password', id='pass', name='pass', placeholder='Password', class='anchor margin_bottom_small', required)
				input(type='password', id='confirmPass', name='confirmPass', placeholder='Confirma el password', class='anchor margin_bottom_small', required)
				input(type='submit', id="send", value='Enviar', class='btn medium bck b_jet text color c_white anchor margin_bottom_small')
	include footer