.text.color
    if include_basic_colors
        &.c_black
            color black
        &.c_black_dark
            color black_dark
        &.c_black_light
            color black_light
        &.c_black_medium
            color black_medium
        &.c_blue
            color blue
        &.c_blue_dark
            color blue_dark
        &.c_blue_light
            color blue_light
        &.c_blue_medium
            color blue_medium
        &.c_green
            color green
        &.c_green_dark
            color green_dark
        &.c_green_light
            color green_light
        &.c_green_medium
            color green_medium
        &.c_orange
            color orange
        &.c_orange_dark
            color orange_dark
        &.c_orange_light
            color orange_light
        &.c_orange_medium
            color orange_medium
        &.c_pink
            color pink
        &.c_pink_dark
            color pink_dark
        &.c_pink_light
            color pink_light
        &.c_pink_medium
            color pink_medium
        &.c_red
            color red
        &.c_red_dark
            color red_dark
        &.c_red_light
            color red_light
        &.c_red_medium
            color red_medium
        &.c_yellow
            color yellow
        &.c_yellow_dark
            color yellow_dark
        &.c_yellow_light
            color yellow_light
        &.c_yellow_medium
            color yellow_medium
        &.c_violet
            color violet
        &.c_violet_dark
            color violet_dark
        &.c_violet_light
            color violet_light
        &.c_violet_medium
            color violet_medium
        &.c_white
            color white
    if include_extra_colors
        &.c_asparagus
            color asparagus
        &.c_asparagus_dark
            color asparagus_dark
        &.c_asparagus_light
            color asparagus_light
        &.c_asparagus_medium
            color asparagus_medium
        &.c_coral
            color coral
        &.c_coral_dark
            color coral_dark
        &.c_coral_light
            color coral_light
        &.c_coral_medium
            color coral_medium
        &.c_eggplant
            color eggplant
        &.c_eggplant_dark
            color eggplant_dark
        &.c_eggplant_light
            color eggplant_light
        &.c_eggplant_medium
            color eggplant_medium
        &.c_jet
            color jet
        &.c_jet_dark
            color jet_dark
        &.c_jet_light
            color jet_light
        &.c_jet_medium
            color jet_medium
        &.c_royalblue
            color royalblue
        &.c_royalblue_dark
            color royalblue_dark
        &.c_royalblue_light
            color royalblue_light
        &.c_royalblue_medium
            color royalblue_medium
        &.c_salmon
            color salmon
        &.c_salmon_dark
            color salmon_dark
        &.c_salmon_light
            color salmon_light
        &.c_salmon_medium
            color salmon_medium
        &.c_sparkle
            color sparkle
        &.c_sparkle_dark
            color sparkle_dark
        &.c_sparkle_light
            color sparkle_light
        &.c_sparkle_medium
            color sparkle_medium
        &.c_turquoise
            color turquoise
        &.c_turquoise_dark
            color turquoise_dark
        &.c_turquoise_light
            color turquoise_light
        &.c_turquoise_medium
            color turquoise_medium
    if include_mycolors
        &.c_mysauce1
            color mysauce1
        &.c_mysauce1_dark
            color mysauce1_dark
        &.c_mysauce1_light
            color mysauce1_light
        &.c_mysauce1_medium
            color mysauce1_medium
        &.c_mysauce2
            color mysauce2
        &.c_mysauce2_dark
            color mysauce2_dark
        &.c_mysauce2_light
            color mysauce2_light
        &.c_mysauce2_medium
            color mysauce2_medium
        &.c_mysauce3
            color mysauce3
        &.c_mysauce3_dark
            color mysauce3_dark
        &.c_mysauce3_light
            color mysauce3_light
        &.c_mysauce3_medium
            color mysauce3_medium
        &.c_mysauce4
            color mysauce4
        &.c_mysauce4_dark
            color mysauce4_dark
        &.c_mysauce4_light
            color mysauce4_light
        &.c_mysauce4_medium
            color mysauce4_medium
        &.c_mysauce5
            color mysauce5
        &.c_mysauce5_dark
            color mysauce5_dark
        &.c_mysauce5_light
            color mysauce5_light
        &.c_mysauce5_medium
            color mysauce5_medium

.bck
    if include_basic_colors
        &.b_black
            background black
        &.b_black_dark
            background black_dark
        &.b_black_light
            background black_light
        &.b_black_medium
            background black_medium
        &.b_blue
            background blue
        &.b_blue_dark
            background blue_dark
        &.b_blue_light
            background blue_light
        &.b_blue_medium
            background blue_medium
        &.b_green
            background green
        &.b_green_dark
            background green_dark
        &.b_green_light
            background green_light
        &.b_green_medium
            background green_medium
        &.b_orange
            background orange
        &.b_orange_dark
            background orange_dark
        &.b_orange_light
            background orange_light
        &.b_orange_medium
            background orange_medium
        &.b_pink
            background pink
        &.b_pink_dark
            background pink_dark
        &.b_pink_light
            background pink_light
        &.b_pink_medium
            background pink_medium
        &.b_red
            background red
        &.b_red_dark
            background red_dark
        &.b_red_light
            background red_light
        &.b_red_medium
            background red_medium
        &.b_yellow
            background yellow
        &.b_yellow_dark
            background yellow_dark
        &.b_yellow_light
            background yellow_light
        &.b_yellow_medium
            background yellow_medium
        &.b_violet
            background violet
        &.b_violet_dark
            background violet_dark
        &.b_violet_light
            background violet_light
        &.b_violet_medium
            background violet_medium
        &.b_white
            background white
    if include_extra_colors
        &.b_asparagus
            background asparagus
        &.b_asparagus_dark
            background asparagus_dark
        &.b_asparagus_light
            background asparagus_light
        &.b_asparagus_medium
            background asparagus_medium
        &.b_coral
            background coral
        &.b_coral_dark
            background coral_dark
        &.b_coral_light
            background coral_light
        &.b_coral_medium
            background coral_medium
        &.b_eggplant
            background eggplant
        &.b_eggplant_dark
            background eggplant_dark
        &.b_eggplant_light
            background eggplant_light
        &.b_eggplant_medium
            background eggplant_medium
        &.b_jet
            background jet
        &.b_jet_dark
            background jet_dark
        &.b_jet_light
            background jet_light
        &.b_jet_medium
            background jet_medium
        &.b_royalblue
            background royalblue
        &.b_royalblue_dark
            background royalblue_dark
        &.b_royalblue_light
            background royalblue_light
        &.b_royalblue_medium
            background royalblue_medium
        &.b_salmon
            background salmon
        &.b_salmon_dark
            background salmon_dark
        &.b_salmon_light
            background salmon_light
        &.b_salmon_medium
            background salmon_medium
        &.b_sparkle
            background sparkle
        &.b_sparkle_dark
            background sparkle_dark
        &.b_sparkle_light
            background sparkle_light
        &.b_sparkle_medium
            background sparkle_medium
        &.b_turquoise
            background turquoise
        &.b_turquoise_dark
            background turquoise_dark
        &.b_turquoise_light
            background turquoise_light
        &.b_turquoise_medium
            background turquoise_medium
    if include_mycolors
        &.b_mysauce1
            background mysauce1
        &.b_mysauce1_dark
            background mysauce1_dark
        &.b_mysauce1_light
            background mysauce1_light
        &.b_mysauce1_medium
            background mysauce1_medium
        &.b_mysauce2
            background mysauce2
        &.b_mysauce2_dark
            background mysauce2_dark
        &.b_mysauce2_light
            background mysauce2_light
        &.b_mysauce2_medium
            background mysauce2_medium
        &.b_mysauce3
            background mysauce3
        &.b_mysauce3_dark
            background mysauce3_dark
        &.b_mysauce3_light
            background mysauce3_light
        &.b_mysauce3_medium
            background mysauce3_medium
        &.b_mysauce4
            background mysauce4
        &.b_mysauce4_dark
            background mysauce4_dark
        &.b_mysauce4_light
            background mysauce4_light
        &.b_mysauce4_medium
            background mysauce4_medium
        &.b_mysauce5
            background mysauce5
        &.b_mysauce5_dark
            background mysauce5_dark
        &.b_mysauce5_light
            background mysauce5_light
        &.b_mysauce5_medium
            background mysauce5_medium