@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ul,
li,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
header {
  line-height: 3em;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
dt {
  font-weight: bold;
}
blockquote cite {
  color: #808080;
}
pre {
  word-wrap: break-word;
  font-size: 0.8em;
}
pre,
code {
  font-family: 'Monaco', courier, monospace;
  line-height: 1.5em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
::selection {
  background: #1f1f1f;
  color: #0c6;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
}
a {
  color: #0d497f;
  text-decoration: none;
}
a:hover {
  color: #2d91ea;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 0 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p,
dl {
  line-height: 1.5em;
  margin: 0 0 10px 0;
}
p:last-child {
  margin-bottom: 0;
}
small {
  font-size: 0.9em;
}
.text.bold {
  font-weight: 700;
}
.text.book {
  font-weight: 300;
}
.text.center {
  text-align: center;
}
.text.italic {
  font-style: italic;
}
.text.justify {
  text-align: justify;
}
.text.left {
  text-align: left;
}
.text.normal {
  font-weight: 400;
}
.text.thin {
  font-weight: 100;
}
.text.underline {
  text-decoration: underline;
}
.text.uppercase {
  text-transform: uppercase;
}
.text.right {
  text-align: right;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  border-bottom: 2px;
}
td {
  vertical-align: top;
  border-bottom: 1px;
}
th,
td {
  border-bottom-color: #8c8c8c;
  border-bottom-style: solid;
  padding: 10px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
  background: #eee;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
textarea {
  border: 1px solid #f1f1f1;
  outline: 0;
  margin: 0;
  padding: 0.7em;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
fieldset label {
  float: left;
  font-weight: bold;
  margin-right: 10px;
}
fieldsetinput[type="text"],
fieldset input[type="password"],
fieldset input[type="date"],
fieldset input[type="datetime"],
fieldset input[type="email"],
fieldset input[type="number"],
fieldset input[type="search"],
fieldset input[type="tel"],
fieldset input[type="time"],
fieldset input[type="url"],
fieldset select,
fieldset textarea {
  width: 80%;
}
.btn {
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px 1px 2px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 1px 1px 2px rgba(255,255,255,0.2);
  -ms-box-shadow: inset 1px 1px 2px rgba(255,255,255,0.2);
  -o-box-shadow: inset 1px 1px 2px rgba(255,255,255,0.2);
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.2);
  cursor: pointer;
  padding: 0 1.2em;
}
.btn.large {
  font-size: 1.2em;
  line-height: 3.1em;
  padding: 0.8em 1.2em;
}
.btn.medium {
  font-size: 1.1em;
  line-height: 2.8em;
  padding: 0.6em 1.2em;
}
.btn.normal {
  font-size: 1em;
  line-height: 2.2em;
  padding: 0.4em 1.2em;
}
.btn.anchor {
  display: block;
  width: 100%;
}
button:hover,
.btn:hover {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  -o-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
ol {
  margin: 0 0 0 18px;
}
li {
  padding: 10px 0px;
}
ul {
  list-style: none;
}
ul.square li,
ul.circle li {
  margin: 0 0 0 18px;
}
ul.square,
ul.square ul {
  list-style: square;
}
ul.circle,
ul.circle ul {
  list-style: circle;
}
.text.color.c_black {
  color: #000;
}
.text.color.c_black_dark {
  color: #000;
}
.text.color.c_black_light {
  color: #e6e6e6;
}
.text.color.c_black_medium {
  color: #737373;
}
.text.color.c_blue {
  color: #2d91ea;
}
.text.color.c_blue_dark {
  color: #0d497f;
}
.text.color.c_blue_light {
  color: #eaf4fd;
}
.text.color.c_blue_medium {
  color: #8cc3f3;
}
.text.color.c_green {
  color: #53a93f;
}
.text.color.c_green_dark {
  color: #295520;
}
.text.color.c_green_light {
  color: #edf7eb;
}
.text.color.c_green_medium {
  color: #9dd590;
}
.text.color.c_orange {
  color: #ef7509;
}
.text.color.c_orange_dark {
  color: #783b04;
}
.text.color.c_orange_light {
  color: #fef1e6;
}
.text.color.c_orange_medium {
  color: #fab374;
}
.text.color.c_pink {
  color: #f33e6f;
}
.text.color.c_pink_dark {
  color: #90092d;
}
.text.color.c_pink_light {
  color: #feecf1;
}
.text.color.c_pink_medium {
  color: #f895b0;
}
.text.color.c_red {
  color: #d14836;
}
.text.color.c_red_dark {
  color: #6b2218;
}
.text.color.c_red_light {
  color: #faedeb;
}
.text.color.c_red_medium {
  color: #e69a90;
}
.text.color.c_yellow {
  color: #f8de07;
}
.text.color.c_yellow_dark {
  color: #7c6f04;
}
.text.color.c_yellow_light {
  color: #fefce6;
}
.text.color.c_yellow_medium {
  color: #fbed77;
}
.text.color.c_violet {
  color: #af08b9;
}
.text.color.c_violet_dark {
  color: #58045d;
}
.text.color.c_violet_light {
  color: #fce1fe;
}
.text.color.c_violet_medium {
  color: #ef58f8;
}
.text.color.c_white {
  color: #fff;
}
.text.color.c_asparagus {
  color: #9c9;
}
.text.color.c_asparagus_dark {
  color: #3b773b;
}
.text.color.c_asparagus_light {
  color: #f5faf5;
}
.text.color.c_asparagus_medium {
  color: #c7e3c7;
}
.text.color.c_coral {
  color: #e2674a;
}
.text.color.c_coral_dark {
  color: #812915;
}
.text.color.c_coral_light {
  color: #fcf0ed;
}
.text.color.c_coral_medium {
  color: #efab9b;
}
.text.color.c_eggplant {
  color: #669;
}
.text.color.c_eggplant_dark {
  color: #33334d;
}
.text.color.c_eggplant_light {
  color: #f0f0f5;
}
.text.color.c_eggplant_medium {
  color: #ababc7;
}
.text.color.c_jet {
  color: #575757;
}
.text.color.c_jet_dark {
  color: #2c2c2c;
}
.text.color.c_jet_light {
  color: #eee;
}
.text.color.c_jet_medium {
  color: #a3a3a3;
}
.text.color.c_royalblue {
  color: #39c;
}
.text.color.c_royalblue_dark {
  color: #194c66;
}
.text.color.c_royalblue_light {
  color: #ebf5fa;
}
.text.color.c_royalblue_medium {
  color: #8fc7e3;
}
.text.color.c_salmon {
  color: #fa8072;
}
.text.color.c_salmon_dark {
  color: #b01806;
}
.text.color.c_salmon_light {
  color: #fff2f1;
}
.text.color.c_salmon_medium {
  color: #fcb9b1;
}
.text.color.c_sparkle {
  color: #699;
}
.text.color.c_sparkle_dark {
  color: #334c4d;
}
.text.color.c_sparkle_light {
  color: #f0f5f5;
}
.text.color.c_sparkle_medium {
  color: #abc7c7;
}
.text.color.c_turquoise {
  color: #3cc;
}
.text.color.c_turquoise_dark {
  color: #196666;
}
.text.color.c_turquoise_light {
  color: #ebfafa;
}
.text.color.c_turquoise_medium {
  color: #8fe3e3;
}
.text.color.c_mysauce1 {
  color: #d2b48c;
}
.text.color.c_mysauce1_dark {
  color: #7e5d31;
}
.text.color.c_mysauce1_light {
  color: #fbf8f3;
}
.text.color.c_mysauce1_medium {
  color: #e6d6c0;
}
.text.color.c_mysauce2 {
  color: #008080;
}
.text.color.c_mysauce2_dark {
  color: #004040;
}
.text.color.c_mysauce2_light {
  color: #d9ffff;
}
.text.color.c_mysauce2_medium {
  color: #2dffff;
}
.text.color.c_mysauce3 {
  color: #d8bfd8;
}
.text.color.c_mysauce3_dark {
  color: #7e4d7e;
}
.text.color.c_mysauce3_light {
  color: #fbf9fb;
}
.text.color.c_mysauce3_medium {
  color: #eadcea;
}
.text.color.c_mysauce4 {
  color: #ff6347;
}
.text.color.c_mysauce4_dark {
  color: #a31900;
}
.text.color.c_mysauce4_light {
  color: #ffefed;
}
.text.color.c_mysauce4_medium {
  color: #ffa99a;
}
.text.color.c_mysauce5 {
  color: #40e0d0;
}
.text.color.c_mysauce5_dark {
  color: #147c72;
}
.text.color.c_mysauce5_light {
  color: #ecfcfa;
}
.text.color.c_mysauce5_medium {
  color: #96eee5;
}
.bck.b_black {
  background: #000;
}
.bck.b_black_dark {
  background: #000;
}
.bck.b_black_light {
  background: #e6e6e6;
}
.bck.b_black_medium {
  background: #737373;
}
.bck.b_blue {
  background: #2d91ea;
}
.bck.b_blue_dark {
  background: #0d497f;
}
.bck.b_blue_light {
  background: #eaf4fd;
}
.bck.b_blue_medium {
  background: #8cc3f3;
}
.bck.b_green {
  background: #53a93f;
}
.bck.b_green_dark {
  background: #295520;
}
.bck.b_green_light {
  background: #edf7eb;
}
.bck.b_green_medium {
  background: #9dd590;
}
.bck.b_orange {
  background: #ef7509;
}
.bck.b_orange_dark {
  background: #783b04;
}
.bck.b_orange_light {
  background: #fef1e6;
}
.bck.b_orange_medium {
  background: #fab374;
}
.bck.b_pink {
  background: #f33e6f;
}
.bck.b_pink_dark {
  background: #90092d;
}
.bck.b_pink_light {
  background: #feecf1;
}
.bck.b_pink_medium {
  background: #f895b0;
}
.bck.b_red {
  background: #d14836;
}
.bck.b_red_dark {
  background: #6b2218;
}
.bck.b_red_light {
  background: #faedeb;
}
.bck.b_red_medium {
  background: #e69a90;
}
.bck.b_yellow {
  background: #f8de07;
}
.bck.b_yellow_dark {
  background: #7c6f04;
}
.bck.b_yellow_light {
  background: #fefce6;
}
.bck.b_yellow_medium {
  background: #fbed77;
}
.bck.b_violet {
  background: #af08b9;
}
.bck.b_violet_dark {
  background: #58045d;
}
.bck.b_violet_light {
  background: #fce1fe;
}
.bck.b_violet_medium {
  background: #ef58f8;
}
.bck.b_white {
  background: #fff;
}
.bck.b_asparagus {
  background: #9c9;
}
.bck.b_asparagus_dark {
  background: #3b773b;
}
.bck.b_asparagus_light {
  background: #f5faf5;
}
.bck.b_asparagus_medium {
  background: #c7e3c7;
}
.bck.b_coral {
  background: #e2674a;
}
.bck.b_coral_dark {
  background: #812915;
}
.bck.b_coral_light {
  background: #fcf0ed;
}
.bck.b_coral_medium {
  background: #efab9b;
}
.bck.b_eggplant {
  background: #669;
}
.bck.b_eggplant_dark {
  background: #33334d;
}
.bck.b_eggplant_light {
  background: #f0f0f5;
}
.bck.b_eggplant_medium {
  background: #ababc7;
}
.bck.b_jet {
  background: #575757;
}
.bck.b_jet_dark {
  background: #2c2c2c;
}
.bck.b_jet_light {
  background: #eee;
}
.bck.b_jet_medium {
  background: #a3a3a3;
}
.bck.b_royalblue {
  background: #39c;
}
.bck.b_royalblue_dark {
  background: #194c66;
}
.bck.b_royalblue_light {
  background: #ebf5fa;
}
.bck.b_royalblue_medium {
  background: #8fc7e3;
}
.bck.b_salmon {
  background: #fa8072;
}
.bck.b_salmon_dark {
  background: #b01806;
}
.bck.b_salmon_light {
  background: #fff2f1;
}
.bck.b_salmon_medium {
  background: #fcb9b1;
}
.bck.b_sparkle {
  background: #699;
}
.bck.b_sparkle_dark {
  background: #334c4d;
}
.bck.b_sparkle_light {
  background: #f0f5f5;
}
.bck.b_sparkle_medium {
  background: #abc7c7;
}
.bck.b_turquoise {
  background: #3cc;
}
.bck.b_turquoise_dark {
  background: #196666;
}
.bck.b_turquoise_light {
  background: #ebfafa;
}
.bck.b_turquoise_medium {
  background: #8fe3e3;
}
.bck.b_mysauce1 {
  background: #d2b48c;
}
.bck.b_mysauce1_dark {
  background: #7e5d31;
}
.bck.b_mysauce1_light {
  background: #fbf8f3;
}
.bck.b_mysauce1_medium {
  background: #e6d6c0;
}
.bck.b_mysauce2 {
  background: #008080;
}
.bck.b_mysauce2_dark {
  background: #004040;
}
.bck.b_mysauce2_light {
  background: #d9ffff;
}
.bck.b_mysauce2_medium {
  background: #2dffff;
}
.bck.b_mysauce3 {
  background: #d8bfd8;
}
.bck.b_mysauce3_dark {
  background: #7e4d7e;
}
.bck.b_mysauce3_light {
  background: #fbf9fb;
}
.bck.b_mysauce3_medium {
  background: #eadcea;
}
.bck.b_mysauce4 {
  background: #ff6347;
}
.bck.b_mysauce4_dark {
  background: #a31900;
}
.bck.b_mysauce4_light {
  background: #ffefed;
}
.bck.b_mysauce4_medium {
  background: #ffa99a;
}
.bck.b_mysauce5 {
  background: #40e0d0;
}
.bck.b_mysauce5_dark {
  background: #147c72;
}
.bck.b_mysauce5_light {
  background: #ecfcfa;
}
.bck.b_mysauce5_medium {
  background: #96eee5;
}
img {
  margin: 0 0 0 0;
}
img.big {
  width: 90%;
}
img.medium {
  width: 70%;
}
img.small {
  width: 30%;
}
img.middle {
  vertical-align: middle;
}
img.top {
  vertical-align: top;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.center {
  display: block;
  margin: 0 auto;
}
.anchor {
  width: 100%;
}
.b_shadow_small {
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.b_shadow_medium {
  -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  -ms-box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  -o-box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.b_shadow_big {
  -webkit-box-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  -moz-box-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  -ms-box-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  -o-box-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  box-shadow: 30px 30px 40px rgba(0,0,0,0.5);
}
.border {
  border-color: rgba(0,0,0,0.2);
}
.border.none {
  border: 0;
}
.border.rad_small {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.border.rad_medium {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.border.rad_big {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.border.rad_circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.border.top_small {
  border-top-width: 1px;
}
.border.top_medium {
  border-top-width: 2px;
}
.border.top_big {
  border-top-width: 6px;
}
.border.right_small {
  border-right-width: 1px;
}
.border.right_medium {
  border-right-width: 2px;
}
.border.right_big {
  border-right-width: 6px;
}
.border.bottom_small {
  border-bottom-width: 1px;
}
.border.bottom_medium {
  border-bottom-width: 2px;
}
.border.bottom_big {
  border-bottom-width: 6px;
}
.border.left_small {
  border-left-width: 1px;
}
.border.left_medium {
  border-left-width: 2px;
}
.border.left_big {
  border-left-width: 6px;
}
.border.all_small {
  border-width: 1px;
}
.border.all_medium {
  border-width: 2px;
}
.border.all_big {
  border-width: 6px;
}
.border.dotted {
  border-style: dotted;
}
.border.dashed {
  border-style: dashed;
}
.border.solid {
  border-style: solid;
}
.show_display {
  display: inherit;
}
.hide_display {
  display: none !important;
}
.inline {
  display: inline-block !important;
}
.margin_small {
  margin: 7px;
}
.margin_medium {
  margin: 10px;
}
.margin_big {
  margin: 40px;
}
.margin_top_small {
  margin-top: 7px;
}
.margin_top_medium {
  margin-top: 10px;
}
.margin_top_big {
  margin-top: 40px;
}
.margin_right_small {
  margin-right: 7px;
}
.margin_right_medium {
  margin-right: 10px;
}
.margin_right_big {
  margin-right: 40px;
}
.margin_bottom_small {
  margin-bottom: 7px;
}
.margin_bottom_medium {
  margin-bottom: 10px;
}
.margin_bottom_big {
  margin-bottom: 40px;
}
.margin_left_small {
  margin-left: 7px;
}
.margin_left_medium {
  margin-left: 10px;
}
.margin_left_big {
  margin-left: 40px;
}
.padding_small {
  padding: 4px;
}
.padding_medium {
  padding: 10px;
}
.padding_big {
  padding: 30px;
}
.padding_top_small {
  padding-top: 4px;
}
.padding_top_medium {
  padding-top: 10px;
}
.padding_top_big {
  padding-top: 30px;
}
.padding_right_small {
  padding-right: 4px;
}
.padding_right_medium {
  padding-right: 10px;
}
.padding_right_big {
  padding-right: 30px;
}
.padding_bottom_small {
  padding-bottom: 4px;
}
.padding_bottom_medium {
  padding-bottom: 10px;
}
.padding_bottom_big {
  padding-bottom: 30px;
}
.padding_left_small {
  padding-left: 4px;
}
.padding_left_medium {
  padding-left: 10px;
}
.padding_left_big {
  padding-left: 30px;
}
.p_absolute {
  position: absolute;
}
.p_relative {
  position: relative;
}
.p_fixed {
  position: fixed;
}
.top {
  top: 0;
}
.table {
  display: table;
}
.vertical_align {
  display: table-cell;
  vertical-align: middle;
}
.mobile {
  display: none !important;
}
.logo {
  font-size: 1.8em;
}
.site_width {
  margin: 0 auto;
  max-width: 1024px;
}
.scroll {
  overflow: auto;
  min-height: 0;
}
.pointer {
  cursor: pointer;
}
.anchor_height {
  height: 100%;
}
.auto_width {
  width: auto !important;
}
.reset_margin {
  margin: 0 !important;
}
.tablet {
  display: none !important;
}
.t_shadow_small {
  -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -ms-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -o-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.t_shadow_medium {
  -webkit-text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  -moz-text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  -ms-text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  -o-text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.t_shadow_big {
  -webkit-text-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  -moz-text-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  -ms-text-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  -o-text-shadow: 30px 30px 40px rgba(0,0,0,0.5);
  text-shadow: 30px 30px 40px rgba(0,0,0,0.5);
}
.row {
  width: 100%;
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
[class^="col"] {
  display: inline;
  float: left;
  margin: 0 2.272727272727273%;
}
.col1 {
  width: 3.787878787878788%;
}
.col2 {
  width: 12.121212121212121%;
}
.col3 {
  width: 20.454545454545457%;
}
.col4 {
  width: 28.78787878787879%;
}
.col5 {
  width: 37.121212121212125%;
}
.col5 {
  width: 37.121212121212125%;
}
.col6 {
  width: 45.45454545454545%;
}
.col7 {
  width: 53.78787878787878%;
}
.col8 {
  width: 62.121212121212125%;
}
.col9 {
  width: 70.45454545454545%;
}
.col10 {
  width: 78.78787878787878%;
}
.col11 {
  width: 87.12121212121212%;
}
.col12 {
  width: 95.45454545454545%;
}
.col13 {
  width: 103.78787878787878%;
}
.col14 {
  width: 112.12121212121211%;
}
.col15 {
  width: 120.45454545454545%;
}
.col16 {
  width: 128.78787878787878%;
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: 'flex';
  display: -moz-box;
  overflow: hidden;
}
.flex.row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.flex.column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -moz-box-orient: vertical;
}
.flex.x_start {
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  -o-justify-content: start;
  justify-content: start;
}
.flex.x_center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.flex.x_start {
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  -o-justify-content: start;
  justify-content: start;
}
.flex.x_justify {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.flex.x_end {
  -webkit-justify-content: end;
  -moz-justify-content: end;
  -ms-justify-content: end;
  -o-justify-content: end;
  justify-content: end;
}
.flex.y_start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.flex.y_center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.flex.y_end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.flex.y_stretch {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.flex.y_space-between {
  -webkit-align-items: space-between;
  -moz-align-items: space-between;
  -ms-align-items: space-between;
  -o-align-items: space-between;
  align-items: space-between;
}
.flex > .item_start {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  align-self: flex-start;
}
.flex > .item_end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  align-self: flex-end;
}
.flex > .item_center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
}
.flex > .item_stretch {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  -ms-align-self: stretch;
  -o-align-self: stretch;
  align-self: stretch;
}
.flex > .f1 {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  -webkit--moz-box-flex: 1;
  -moz--moz-box-flex: 1;
  -ms--moz-box-flex: 1;
  -o--moz-box-flex: 1;
  -moz-box-flex: 1;
}
.flex > .f2 {
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  -o-flex: 2;
  flex: 2;
  -webkit--moz-box-flex: 2;
  -moz--moz-box-flex: 2;
  -ms--moz-box-flex: 2;
  -o--moz-box-flex: 2;
  -moz-box-flex: 2;
}
.flex > .f3 {
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  -o-flex: 3;
  flex: 3;
  -webkit--moz-box-flex: 3;
  -moz--moz-box-flex: 3;
  -ms--moz-box-flex: 3;
  -o--moz-box-flex: 3;
  -moz-box-flex: 3;
}
.flex > .f4 {
  -webkit-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  -o-flex: 4;
  flex: 4;
  -webkit--moz-box-flex: 4;
  -moz--moz-box-flex: 4;
  -ms--moz-box-flex: 4;
  -o--moz-box-flex: 4;
  -moz-box-flex: 4;
}
.flex > .f5 {
  -webkit-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  -o-flex: 5;
  flex: 5;
  -webkit--moz-box-flex: 5;
  -moz--moz-box-flex: 5;
  -ms--moz-box-flex: 5;
  -o--moz-box-flex: 5;
  -moz-box-flex: 5;
}
.flex > .f6 {
  -webkit-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  -o-flex: 6;
  flex: 6;
  -webkit--moz-box-flex: 6;
  -moz--moz-box-flex: 6;
  -ms--moz-box-flex: 6;
  -o--moz-box-flex: 6;
  -moz-box-flex: 6;
}
.flex > .f7 {
  -webkit-flex: 7;
  -moz-flex: 7;
  -ms-flex: 7;
  -o-flex: 7;
  flex: 7;
  -webkit--moz-box-flex: 7;
  -moz--moz-box-flex: 7;
  -ms--moz-box-flex: 7;
  -o--moz-box-flex: 7;
  -moz-box-flex: 7;
}
.flex > .f8 {
  -webkit-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  -o-flex: 8;
  flex: 8;
  -webkit--moz-box-flex: 8;
  -moz--moz-box-flex: 8;
  -ms--moz-box-flex: 8;
  -o--moz-box-flex: 8;
  -moz-box-flex: 8;
}
.flex > .f9 {
  -webkit-flex: 9;
  -moz-flex: 9;
  -ms-flex: 9;
  -o-flex: 9;
  flex: 9;
  -webkit--moz-box-flex: 9;
  -moz--moz-box-flex: 9;
  -ms--moz-box-flex: 9;
  -o--moz-box-flex: 9;
  -moz-box-flex: 9;
}
.flex > .f10 {
  -webkit-flex: 10;
  -moz-flex: 10;
  -ms-flex: 10;
  -o-flex: 10;
  flex: 10;
  -webkit--moz-box-flex: 10;
  -moz--moz-box-flex: 10;
  -ms--moz-box-flex: 10;
  -o--moz-box-flex: 10;
  -moz-box-flex: 10;
}
.flex > .f11 {
  -webkit-flex: 11;
  -moz-flex: 11;
  -ms-flex: 11;
  -o-flex: 11;
  flex: 11;
  -webkit--moz-box-flex: 11;
  -moz--moz-box-flex: 11;
  -ms--moz-box-flex: 11;
  -o--moz-box-flex: 11;
  -moz-box-flex: 11;
}
.flex > .f12 {
  -webkit-flex: 12;
  -moz-flex: 12;
  -ms-flex: 12;
  -o-flex: 12;
  flex: 12;
  -webkit--moz-box-flex: 12;
  -moz--moz-box-flex: 12;
  -ms--moz-box-flex: 12;
  -o--moz-box-flex: 12;
  -moz-box-flex: 12;
}
#admin_menu a:before {
  font-family: FontAwesome;
  content: '\f105';
  padding-right: 8px;
}
.videoWrapper {
  text-align: center;
  position: relative;
  padding-bottom: 58.75%;
  padding-top: 15px;
  height: 0;
  margin: 15px;
}
.videoWrapper iframe,
.videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.pointer:hover {
  -webkit-box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
}
[contenteditable]:hover {
  background: #fafafa;
}
article {
  color: #444;
}
#notifications {
  line-height: 20px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
}
::-webkit-scrollbar-button:vertical {
  background-color: #f00;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:increment {
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement {
  display: none;
}
::-webkit-scrollbar-button:horizontal:increment {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement {
  display: none;
}
::-webkit-scrollbar-track:vertical {
  background-color: none;
}
::-webkit-scrollbar-track-piece:vertical:start {
  border: 0;
}
::-webkit-scrollbar-track-piece:vertical:end {
  border: 0;
}
::-webkit-scrollbar-track-piece {
  background-color: none;
}
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #39c;
}
::-webkit-scrollbar-thumb:horizontal {
  height: 50px;
  background-color: #808080;
}
::-webkit-scrollbar-corner:vertical {
  background-color: #000;
}
::-webkit-scrollbar-resizer:vertical {
  background-color: #808080;
}
@media handheld, only screen and (max-width: 768px) {
  header.col1,
  header .col2,
  header .col3,
  header .col4,
  header .col5,
  header .col6,
  header .col7,
  header .col8,
  header .col9,
  header .col10,
  header .col11,
  header .col12,
  header .col13,
  header .col14,
  header .col15,
  header .col16 {
    margin-top: 0;
  }
  nav {
    text-align: center;
  }
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12,
  .col13,
  .col14,
  .col15,
  .col16 {
    width: 95.45454545454545%;
    margin-top: 10px;
  }
  .desktop {
    display: none !important;
  }
  .inline {
    display: inherit;
  }
  .mobile {
    display: none !important;
  }
  .tablet {
    display: inherit !important;
  }
}
@media handheld, only screen and (max-width: 540px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inherit !important;
  }
  .tablet {
    display: none !important;
  }
  #mainNav {
    display: none;
  }
  [data-label='logs'] {
    display: none;
  }
  #content .padding_big {
    padding: 0;
  }
  .isList #container,
  .isContent #sidebar {
    position: absolute;
    top: 0;
    z-index: -1;
    pointer-events: none;
    height: 100%;
    width: 100%;
    width: 0;
  }
  .padding_big {
    padding: 0;
  }
}
