#admin_menu a:before
    font-family FontAwesome
    content '\f105'
    padding-right 8px

.videoWrapper
    text-align center
    position relative
    padding-bottom 58.75%
    padding-top 15px
    height 0
    margin 15px

.videoWrapper iframe, .videoWrapper object
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    vertical-align middle

[data-label="postSelect"]:hover, [data-label="userSelect"]:hover
    background jet_light
    &>h5
        color black !important

::-webkit-scrollbar{width:8px;height:8px;position:absolute}
::-webkit-scrollbar-button:vertical{background-color:#f00}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:block}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement{display:none}
::-webkit-scrollbar-button:vertical:increment{display:none}
::-webkit-scrollbar-button:vertical:decrement{display:none}
::-webkit-scrollbar-button:horizontal:increment{display:none}
::-webkit-scrollbar-button:horizontal:decrement{display:none}
::-webkit-scrollbar-track:vertical{background-color:none}
::-webkit-scrollbar-track-piece:vertical:start{border:0}
::-webkit-scrollbar-track-piece:vertical:end{border:0}
::-webkit-scrollbar-track-piece{background-color:none}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:royalblue}
::-webkit-scrollbar-thumb:horizontal{height:50px;background-color:#808080}
::-webkit-scrollbar-corner:vertical{background-color:#000}
::-webkit-scrollbar-resizer:vertical{background-color:#808080}