a
    color a_color
    text-decoration a_text_decoration

a:hover
    color a_hover_color
    text-decoration a_hover_text_decoration

h1, h2, h3, h4, h5, h6
    font-weight heading_font_weight
    line-height heading_line_height
    margin heading_margin

h1
    font-size 3.5em

h2
    font-size 2.5em

h3
    font-size 2em

h4
    font-size 1.5em

h5
    font-size 1.2em

h6
    font-size 1em

p, dl
    line-height paragraph_line_height
    margin paragraph_margin

p:last-child
    margin-bottom 0

small
    font-size font_small

.text
    &.bold
        font-weight font_bold_weight
    &.book
        font-weight font_book_weight
    &.center
        text-align center
    &.italic
        font-style italic
    &.justify
        text-align justify
    &.left
        text-align left
    &.normal
        font-weight font_normal_weight
    &.thin
        font-weight font_thin_weight
    &.underline
        text-decoration underline
    &.uppercase
        text-transform uppercase
    &.right
        text-align right