a
	color a_color
	text-decoration a_text_decoration

a:hover
	color a_hover_color
	text-decoration a_hover_text_decoration

img
	&.big
		width 90%
	&.center
		display block
		margin 0 auto
	&.left
		float left
	&.medium
		width 70%
	&.right
		float right
	&.small
		width 30%
		
ol
	margin 0 0 0 18px

li
	padding li_padding_top_bottom li_padding_right_left

ul
	list-style none
	&.square li, &.circle li
		margin 0 0 0 18px
	&.square, &.square ul
		list-style square
	&.circle, &.circle ul
		list-style circle

.anchor
	width 100%

.border
	border border_density border_style rgba(0,0,0,0.2)

.border_bottom
	border-bottom border_density border_style rgba(0,0,0,0.2)

.border_top
	border-top border_density border_style rgba(0,0,0,0.2)

.border_radius_small
	border-radius(border_radius_small)

.border_radius_big
	border-radius(border_radius_big)

.border_radius_circle
	border-radius(50%)

.bck
	&.b_jet
		background jet
	&.b_jet_dark
		background jet_dark
	&.b_jet_light
		background jet_light
	&.b_blue
		background blue
	&.b_blue_dark
		background blue_dark
	&.b_blue_light
		background blue_light
	&.b_turquoise
		background turquoise
	&.b_turquoise_dark
		background turquoise_dark
	&.b_turquoise_light
		background turquoise_light
	&.b_violet
		background violet
	&.b_violet_dark
		background violet_dark
	&.b_violet_light
		background violet_light
	&.b_red
		background red
	&.b_red_dark
		background red_dark
	&.b_red_light
		background red_light
	&.b_orange
		background orange
	&.b_orange_dark
		background orange_dark
	&.b_orange_light
		background orange_light
	&.b_yellow
		background yellow
	&.b_yellow_dark
		background yellow_dark
	&.b_yellow_light
		background yellow_light
	&.b_asparagus
		background asparagus
	&.b_asparagus_dark
		background asparagus_dark
	&.b_asparagus_light
		background asparagus_light
	&.b_sparkle
		background sparkle
	&.b_sparkle_dark
		background sparkle_dark
	&.b_sparkle_light
		background sparkle_light
	&.b_pink
		background pink
	&.b_pink_dark
		background pink_dark
	&.b_pink_light
		background pink_light
	&.b_green
		background green
	&.b_green_dark
		background green_dark
	&.b_green_light
		background green_light
	&.b_eggplant
		background eggplant
	&.b_eggplant_dark
		background eggplant_dark
	&.b_eggplant_light
		background eggplant_light
	&.b_royalblue
		background royalblue
	&.b_royalblue_dark
		background royalblue_dark
	&.b_royalblue_light
		background royalblue_light
	&.b_mysauce1
		background mysauce1
	&.b_mysauce1_dark
		background mysauce1_dark
	&.b_mysauce1_light
		background mysauce1_light
	&.b_mysauce2
		background mysauce2
	&.b_mysauce2_dark
		background mysauce2_dark
	&.b_mysauce2_light
		background mysauce2_light
	&.b_mysauce3
		background mysauce3
	&.b_mysauce3_dark
		background mysauce3_dark
	&.b_mysauce3_light
		background mysauce3_light
	&.b_mysauce4
		background mysauce4
	&.b_mysauce4_dark
		background mysauce4_dark
	&.b_mysauce4_light
		background mysauce4_light
	&.b_mysauce5
		background mysauce5
	&.b_mysauce5_dark
		background mysauce5_dark
	&.b_mysauce5_light
		background mysauce5_light
	&.b_white
		background white

.desktop
	display inherit

.show_display
	display inherit

.hide_display
	display none

.inline
	display inline

.margin_bottom_small
	margin-bottom margin_bottom_small

.margin_bottom_big
	margin-bottom margin_bottom_big

.margin_top_small
	margin-top margin_top_small

.margin_top_big
	margin-top margin_top_big

.margin_small
	margin margin_small

.margin_big
	margin margin_big

.mobile
	display none

.padding_small
	padding padding_small

.padding_big
	padding padding_big

.site_width
	margin 0 auto
	max-width site_width

.tablet
	display none