<div class="bck b_jet_light text center padding_small anchor border solid bottom_medium pointer margin_bottom_medium">Back to home</div>

<article class="border solid bottom_small">
    <h2 data-label="title" class="text bold"><%= model.title %></h2>
    <div class="margin_bottom_medium">
        <small>
            <i class="icon-calendar"></i> <%= model.postDate %> by <span class="text bold"><%= model.author %></span> @ <span data-label="category" class="text bold"><%= model.category %></span> // <span data-label="tags"><%= model.tags %></span></small>
    </div>

    <div data-label="content" class="border margin_bottom_medium"><%= model.content %></div>
</article>