<div class="margin_bottom_medium row">
    <div class="col10">
        <h2 data-label="title" class="text bold"><%= title %></h2>
        <small>
            <i class="icon-calendar"></i> <abbr class="timeago" title="<%= postDate %>"><%= postDate %></abbr> by <span class="text bold"><%= author.username %></span> @ <span data-label="category" class="text bold"><%= category %></span> 
            // 
            <span data-label="tags">
                <% for(var tag in tags) { %>
                    <span data-label="tag" class="pointer"><%= tags[tag] %></span> 
                <% } %>
            </span>
        </small>
        Views <%= views %>
    </div>
    <div class="col2 text right">
        <img src="<%= author.image %>" class="border rad_circle" />
    </div>
</div>

<div class="row">
    <div data-label="content" class="col12"><%= content %></div>
</div>