<div class="text center margin_bottom_big">Small CMS for real-time blogging made with NodeJS</div>
<h6 class="text uppercase normal color c_sparkle_dark">Administration</h6>
<ul class="margin_bottom_big">
    <li class="border solid bottom_small">
        <i class="icon-circle-arrow-right"></i>
        <a data-link="admin" href="#">Admin panel</a>
    </li>
</ul>
<h6 class="text uppercase normal color c_sparkle_dark">Made with</h6>
<ul>
    <li class="border solid bottom_small">
        <i class="icon-circle-arrow-right"></i>
        NodeJS
    </li>
    <li class="border solid bottom_small">
        <i class="icon-circle-arrow-right"></i>
        Socket.io
    </li>
    <li class="border solid bottom_small">
        <i class="icon-circle-arrow-right"></i>
        BackboneJS
    </li>
    <li class="border solid bottom_small">
        <i class="icon-circle-arrow-right"></i>
        MongoDB
    </li>
</ul>